# remove all content from folders
db/*
dlib/*
lef/*
libs/*
ndm_lib/*
outputs/*
rpt/*
tech/*

*.log
*.txt

# keep the folders
!db/.gitkeep
!dlib/.gitkeep
!lef/.gitkeep
!libs/.gitkeep
!ndm_lib/.gitkeep
!outputs/.gitkeep
!rpt/.gitkeep
!tech/.gitkeep
